 <h1><%= @post.title %></h1>
  <p><%= @post.content %></p>


    <% if @post.title.empty? == true %>
        <h3> <%= "Something went wrong. Go back to blog posts" %> </h3>
    <% else %>
    
        <form action="/posts/<%= @post.id %>" method="post">
            <input type="hidden" name="_method" value="PATCH">
            <input type="text" name="title"  value="<%= @post.title %>"><br><br>
            <textarea name="content"rows="20" cols="65"><%= @post.content %></textarea><br><br>
            <input type="submit"><br><br>
        </form>
   
        <form action="/posts/<%= @post.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Post!">
        </form>

    <% end %>

<br><br>
<div id="nav">
    <a href="/home">Home</a> |  <a href="/logout">Log Out</a>  |  <a href="/posts">All Your Post</a>  |  <a href="/posts/new">Create New Post</a>  |  <a href="/friends-posts">See Friends' Posts</a>
</div>